login_flowchart.txt
signup_flowchart.txt
test_tokens.txt

.env
db.sqlite3

__pycache__
*.pyc
*.pyo

.vscode
.idea

*.log

node_modules/
yarn-error.log
npm-debug.log
build/
dist/
*.map
yarn.lock
package-lock.json
coverage/
*.log
.DS_STORE