{% extends 'base.html' %} {% load static %} {% block content %}

<div class="main">
  <h1 class="heading-text">Upload. Optimize. Save.</h1>
  <h2 class="sid-text">
    Using calculus to optimize the design of cylindrical lip product containers.
    Minimizing the surface area of lip product containers can lead to reduced
    usage of materials in production, which not only cuts costs but also lessens
    the environmental impact of the packaging.
  </h2>
  <button class="start-button" onClick="directToUploadForm()">
    Start <span>🚀</span>
  </button>
  <model-viewer
    alt=""
    class="orbit-cans"
    id="orbit-cans"
    src="../static/asset/models/cans.glb"
    shadow-intensity="1"
    camera-controls
    touch-action="pan-y"
  ></model-viewer>
</div>

{% endblock %}
