{% extends "base.html" %}
{% load static %}
{% block content %}
<div class = "upload">
<h1 class="sid-text">Upload a 3D Model File (STL or OBJ)</h1>
<form action="/upload" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label class="sid-text" for="file">Select a file (.stl or .obj):</label>
    <input class="start-button" type="file" id="file" name="myfile" accept=".obj,.stl" required>
    <br>
    <input class = "start-button" type="submit" value="Submit">
</form>
</div>

{% if optimized_results %}
    <h2>Optimization Results</h2>
    <p><strong>Original Dimensions:</strong>
        <ul>
            <li>Length : {{ optimized_results.original_dimensions.length }}</li>
            <li>Width: {{ optimized_results.original_dimensions.width }}</li>
            <li>Height: {{ optimized_results.original_dimensions.height }}</li>
        </ul>
    </p>
    <p><strong>Original Volume:</strong> {{ optimized_results.original_volume }}</p>
    <p><strong>Optimized Radius:</strong> {{ optimized_results.optimized_radius }}</p>
    <p><strong>Optimized Height:</strong> {{ optimized_results.optimized_height }}</p>
    <p><strong>Original Surface Area:</strong> {{ optimized_results.original_surface_area }}</p>
    <p><strong>Optimized Surface Area:</strong> {{ optimized_results.optimized_surface_area }}</p>

    {% if file_path %}
    <h3><a href="{% url 'download_file' file_path %}">Download Optimized File</a></h3>
    {% endif %}
    
{% endif %}

{% endblock %}
